## Working with lists

In [2]:
# declare an empty string
bob = ''

# declare a list
beatles = []

### What kind of variable is this?

In [3]:
print(type(bob))
print(type(beatles))

<class 'str'>
<class 'list'>

### Populate and print a list

In [4]:
beatles = ["John", "Paul", "George", "Ringo"]
print(beatles)

['John', 'Paul', 'George', 'Ringo']

### Calculate and print the length of a list

In [5]:
# calculate number of beatles
number_of_beatles = len(beatles)

# print number of beatles
print("There are", number_of_beatles, "Beatles")
print(len(bob))

There are 4 Beatles
0

### Print an item in a list 
   
   _see PowerPoint slides_

In [6]:
# print the first beatle
print(beatles[0])

# print the last Beatle
print(beatles[3])
print(beatles[-1])
print(beatles[-2])
print(beatles[len(beatles)-1])
last = 3
print(beatles[last])

John
Ringo
Ringo
George
Ringo
Ringo

### Remove an item from a list

In [7]:
# add Stuart
beatles.append('Stuart')
print(beatles)

['John', 'Paul', 'George', 'Ringo', 'Stuart']

In [8]:
# Remove the last item in the list (bye, Stuart)
gone = beatles.pop()

# What happened to the Beatles?
print(beatles)

['John', 'Paul', 'George', 'Ringo']

In [9]:
# we saved the popped beatle
print(gone)

Stuart

### Make a new list

In [10]:
# make a list called 'stones' with the Rolling Stones (Mick, Ron, and Keith)
stones = ['mick', 'ron', 'keith']

### Add two lists

In [11]:
# add two strings 
first = 'bob'
last = 'dylan'
print(first + last)

# add two lists together
supergroup = beatles + stones

# print our new list
print(supergroup)
print(len(supergroup))

bobdylan
['John', 'Paul', 'George', 'Ringo', 'mick', 'ron', 'keith']
7

### Make some new lists

In [12]:
# start fresh with new groups
jackson5 = ['jackie', 'tito', 'jermaine', 'marlon', 'michael']
destiny  = ['beyonce', 'kelly', 'michelle']
top40    = ['taylorswift', 'postmalone']

### Growing a list with `extend()`

In [13]:
# print our lists
print(jackson5)
print(destiny)

# use extend() to add Destiny's Child to the Jackson 5
jackson5.extend(['person1', 'person2'])
print(jackson5)

['jackie', 'tito', 'jermaine', 'marlon', 'michael']
['beyonce', 'kelly', 'michelle']
['jackie', 'tito', 'jermaine', 'marlon', 'michael', 'person1', 'person2']

In [14]:
# refresh my groups
jackson5 = ['jackie', 'tito', 'jermaine', 'marlon', 'michael']
destiny  = ['beyonce', 'kelly', 'michelle']
top40    = ['taylorswift', 'postmalone']

# extend() modifies a list in place, it doesn't return a value (i.e., a new list)
super = jackson5.extend(destiny)
print('first value of super:', super) # returns 'None' because jackson5 is modified in place, not saved to super

# so use "+" if you want to create a new list
super = jackson5 + destiny
print('second value of super:', super)

first value of super: None
second value of super: ['jackie', 'tito', 'jermaine', 'marlon', 'michael', 'beyonce', 'kelly', 'michelle', 'beyonce', 'kelly', 'michelle']

### Growing a list with `append()`

In [15]:
# use `append()` to add some old men
destiny.append('bob')
print(destiny)
destiny.append(['george', 'paul', 'ringo', 'john'])
print(destiny)

# What did append do?

['beyonce', 'kelly', 'michelle', 'bob']
['beyonce', 'kelly', 'michelle', 'bob', ['george', 'paul', 'ringo', 'john']]

In [16]:
print(type(destiny[3]))
print(type(destiny[4]))

<class 'str'>
<class 'list'>

In [17]:
# How long is this list?
print(len(destiny))
# Find and print Ringo, who is buried in there
print(destiny[3])
print(destiny[4])

5
bob
['george', 'paul', 'ringo', 'john']

In [18]:
# 'destiny[4] is just a list that we can do list stuff with
print(destiny[4])
my_new_list = destiny[4]
print(my_new_list[2])
print(destiny[4][2])

['george', 'paul', 'ringo', 'john']
ringo
ringo

### looping over a list

structure of a for loop:

`for <variable> in <name of list>:`
        
        do something

In [19]:
# loop over destiny
for i in destiny:
    print(i)
print()
print("now I'm outside the loop:", i)

beyonce
kelly
michelle
bob
['george', 'paul', 'ringo', 'john']

now I'm outside the loop: ['george', 'paul', 'ringo', 'john']

In [20]:
# for loop to print just the beatles part of destiny()
for old_man in destiny[4]:
    print(old_man)

george
paul
ringo
john

### introduce a test

In [21]:
# is the value a list or a string?
for i in destiny:

    # if list returns true
    if type(i) is list:
        print("It's a list:", i)

    # else we know it's a string
    else:
        print("It's a string:", i)

It's a string: beyonce
It's a string: kelly
It's a string: michelle
It's a string: bob
It's a list: ['george', 'paul', 'ringo', 'john']

### executing a nested `for` loop

In [37]:
print(destiny)

j = 1 # the counter for destiny's child
k = 1 # the counter for the beatles

for i in destiny:

    # if list returns true, then loop over this inner list
    if type(i) is list:
        for dude in i:
            print("beatle #" + str(k) + " is " + dude)
            k += 1
    # else we know it's a string
    else:
        print("destiny's child #" + str(j) + " is " + i)
        j += 1

['beyonce', 'kelly', 'michelle', 'bob', ['george', 'paul', 'ringo', 'john']]
destiny's child #1 is beyonce
destiny's child #2 is kelly
destiny's child #3 is michelle
destiny's child #4 is bob
beatle #1 is george
beatle #2 is paul
beatle #3 is ringo
beatle #4 is john

### retrieve the index _and_ the value with `enumerate()`

In [46]:
# lots of flexibility with enumerate()
presidents = ["George Washington", "John Adams", "Thomas Jefferson", "James Madison", "James Monroe", "John Quincy Adams", "Andrew Jackson", "Martin Van Buren", "William Henry Harrison", "John Tyler", "James Knox Polk", "Zachary Taylor", "Millard Fillmore", "Franklin Pierce", "James Buchanan", "Abraham Lincoln", "Andrew Johnson", "Ulysses S. Grant", "Rutherford Birchard Hayes", "James Abram Garfield", "Chester Alan Arthur", "Grover Cleveland", "Benjamin Harrison", "Grover Cleveland", "William McKinley", "Theodore Roosevelt", "William Howard Taft", "Woodrow Wilson", "Warren Gamaliel Harding", "Calvin Coolidge", "Herbert Clark Hoover", "Franklin Delano Roosevelt", "Harry S. Truman", "Dwight David Eisenhower", "John Fitzgerald Kennedy", "Lyndon Baines Johnson", "Richard Milhous Nixon", "Gerald Rudolph Ford", "James Earl Carter Jr.", "Ronald Wilson Reagan", "George Herbert Walker Bush", "William Jefferson Clinton", "George Walker Bush", "Barack Hussein Obama", "Donald Trump", "Joe Biden"]
pres_num = 1


for i in presidents:
    print("president number", pres_num, "was", i)
    pres_num += 1  


for num, name in enumerate(presidents):
    print("president number", num+1, "was", name)

president number 1 was George Washington
president number 2 was John Adams
president number 3 was Thomas Jefferson
president number 4 was James Madison
president number 5 was James Monroe
president number 6 was John Quincy Adams
president number 7 was Andrew Jackson
president number 8 was Martin Van Buren
president number 9 was William Henry Harrison
president number 10 was John Tyler
president number 11 was James Knox Polk
president number 12 was Zachary Taylor
president number 13 was Millard Fillmore
president number 14 was Franklin Pierce
president number 15 was James Buchanan
president number 16 was Abraham Lincoln
president number 17 was Andrew Johnson
president number 18 was Ulysses S. Grant
president number 19 was Rutherford Birchard Hayes
president number 20 was James Abram Garfield
president number 21 was Chester Alan Arthur
president number 22 was Grover Cleveland
president number 23 was Benjamin Harrison
president number 24 was Grover Cleveland
president number 25 was William McKinley
president number 26 was Theodore Roosevelt
president number 27 was William Howard Taft
president number 28 was Woodrow Wilson
president number 29 was Warren Gamaliel Harding
president number 30 was Calvin Coolidge
president number 31 was Herbert Clark Hoover
president number 32 was Franklin Delano Roosevelt
president number 33 was Harry S. Truman
president number 34 was Dwight David Eisenhower
president number 35 was John Fitzgerald Kennedy
president number 36 was Lyndon Baines Johnson
president number 37 was Richard Milhous Nixon
president number 38 was Gerald Rudolph Ford
president number 39 was James Earl Carter Jr.
president number 40 was Ronald Wilson Reagan
president number 41 was George Herbert Walker Bush
president number 42 was William Jefferson Clinton
president number 43 was George Walker Bush
president number 44 was Barack Hussein Obama
president number 45 was Donald Trump
president number 46 was Joe Biden
president number 1 was George Washington
president number 2 was John Adams
president number 3 was Thomas Jefferson
president number 4 was James Madison
president number 5 was James Monroe
president number 6 was John Quincy Adams
president number 7 was Andrew Jackson
president number 8 was Martin Van Buren
president number 9 was William Henry Harrison
president number 10 was John Tyler
president number 11 was James Knox Polk
president number 12 was Zachary Taylor
president number 13 was Millard Fillmore
president number 14 was Franklin Pierce
president number 15 was James Buchanan
president number 16 was Abraham Lincoln
president number 17 was Andrew Johnson
president number 18 was Ulysses S. Grant
president number 19 was Rutherford Birchard Hayes
president number 20 was James Abram Garfield
president number 21 was Chester Alan Arthur
president number 22 was Grover Cleveland
president number 23 was Benjamin Harrison
president number 24 was Grover Cleveland
president number 25 was William McKinley
president number 26 was Theodore Roosevelt
president number 27 was William Howard Taft
president number 28 was Woodrow Wilson
president number 29 was Warren Gamaliel Harding
president number 30 was Calvin Coolidge
president number 31 was Herbert Clark Hoover
president number 32 was Franklin Delano Roosevelt
president number 33 was Harry S. Truman
president number 34 was Dwight David Eisenhower
president number 35 was John Fitzgerald Kennedy
president number 36 was Lyndon Baines Johnson
president number 37 was Richard Milhous Nixon
president number 38 was Gerald Rudolph Ford
president number 39 was James Earl Carter Jr.
president number 40 was Ronald Wilson Reagan
president number 41 was George Herbert Walker Bush
president number 42 was William Jefferson Clinton
president number 43 was George Walker Bush
president number 44 was Barack Hussein Obama
president number 45 was Donald Trump
president number 46 was Joe Biden

### loop over a string

In [49]:
today = "Wednesday"
print(type(today))
print(today[0])
for i in today:
    print(i)

<class 'str'>
W
W
e
d
n
e
s
d
a
y

### write a short Python script that will print a formatted multiplication table

- the script should prompt the user for the size/dimensions of the multiplication table
- you will probably want to use the `range()` function
- your output should be neatly formatted with columns aligned
- don't use chatGPT â€“ just try it
- get it working in a script called `multiply.py`, and push to GitHub
- without hard-coding the size of the output strings, bonus if your script will print equally pretty output for 1, 2, 3, 4 . . . n digit answers